@model Vehicle

    <!--CSS bootstrap stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Vehicle" asp-action="Index">Vehicle Index</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Vehicle</li>
    </ol>
</nav>

<h3 class="mt-4 mb-4">Delete Vehicle</h3>

<h4 class="mb-4">Are you sure you want to delete this Vehicle?</h4>

<div>
    <!-- display the vehicle using a <dl> as per Details.cshtml -->
<dl class="row">
    <dt class="col-sm-3">Make</dt>
    <dd class="col-sm-9">@Model.Make</dd>
    
    <dt class="col-sm-3">Model</dt>
    <dd class="col-sm-9">@Model.Model</dd>
    
    
    <dt class="col-sm-3">Registration</dt>
    <dd class="col-sm-9">@Model.RegNumber</dd>

        <dt class="col-sm-3">Fuel Type</dt>
    <dd class="col-sm-9">@Model.FuelType</dd>
    
    <dt class="col-sm-3">Body</dt>
    <dd class="col-sm-9">@Model.BodyType</dd>
    
    <dt class="col-sm-3">Transmission</dt>
    <dd class="col-sm-9">@Model.Transmission</dd>
    
    <dt class="col-sm-3">No of Doors</dt>
    <dd class="col-sm-9">@Model.NoOfDoors</dd>


</dl>
         <!--Vehicle Id should be a hidden input field named 'Id" in the form -->
         <!-- Post submit details with icons-->      
        <form asp-action="DeleteConfirm" method="POST">
        <input type="hidden" name="Id" value=@Model.Id />
        
        <div class="form-group">
            <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash "></span> Delete Vehicle</button>
            <a class="btn btn-secondary btn-sm" asp-action="Index"><span class="glyphicon glyphicon-remove "></span>  Cancel</a>
        </div>
    </form>
</div>


